@use '../utils/variables' as vars;

.app {
  display: grid;
  grid-template-columns: 280px 1fr;
  min-height: 100vh;

  &__sidebar {
    background-color: vars.$color-bg-sidebar-white;
  }

  &__main {
    background-color: vars.$color-bg-white;

    &__container {
      max-width: 1032px;
      margin: 0 auto;
    }
  }
}

.app__stats {
  gap: vars.$spacing-md;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}