@use '../utils/variables' as *;

.app {
  display: grid;
  grid-template-columns: 280px 1fr;
  min-height: 100vh;

  .sidebar {
    background-color: $color-bg-sidebar-white;
    @include typography();
  }

  .main {
    background-color: $color-bg-white;

    .inner {
      max-width: 1032px;
      margin: 0 auto;

      .stats {
        gap: $spacing-md;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

