:root {
  //Цвета
  $color-bg-sidebar-white:#ffffff;
  $color-bg-white: #f8fafc;
  $first-color: #0f172a;
  $second-color: #475569;
  $third-color: #94a3b8;
  $color-success: #10b981;
  $color-accent: #4f46e5;
  $color-border: #e2e8f0;

  //Типографика
  $font-main: 'Inter', sans-serif;
  $font-size-main: 15px;
  $font-size-big: 28px;

  //Отступы
  $spacing-xs: 4px;
  $spacing-sm: 12px;
  $spacing-md: 16px;
  $spacing-lg: 32px;
}